* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li,
ol li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

[class*="__container"] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #000000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

/*************************************HEADER************************************/

.menu__icon {
  display: none;
}

.header {
  position: absolute;
  width: 100%;
}

.header._scroll {
  position: fixed;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  z-index: 100;
  height: 78px;
  width: 100%;
  transition: 0.5s ease;
}

.header__row._scroll {
  height: 78px;
  transition: 0.5s ease;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 120px;
  transition: 0.5s ease;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.menu__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #000000;
  transition: 0.3s ease;
}

.menu__link:hover {
  color: #6e9c9f;
  text-shadow: 0 0 0.7px #6e9c9f, 0 0 0.7px #6e9c9f;
}

.header__info {
  display: flex;
  gap: 67px;
}

.telephone__link {
  font-size: 15px;
  line-height: 140%;
  color: #000000;
}

.telephone {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-telephone {
  font-size: 20px;
  color: #6e9c9f;
  height: 27px;
  width: 27px;
  position: relative;
}

.icon-telephone {
  font-size: 20px;
  color: #6e9c9f;
  cursor: pointer;
}

.icon-telephone:before {
  content: "\e903";
  height: 23px;
  width: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.icon-telephone:hover {
  font-size: 20px;
  color: white;
  background: #6e9c9f;
}

@media (max-width: 1020px) {
  .telephone a {
    display: none;
  }

  .icon-telephone {
    font-size: 26px;
    color: black;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
    min-width: 100%;
    font-size: 45px;
    gap: 31px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    min-width: 30px;
    max-height: 18px;
    border-radius: 20px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    width: 30px;
    height: 2px;
    background: black;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 8px;
  }

  .menu__icon::after {
    bottom: 0px;
  }

  .menu__icon._active span {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__icon._active::before {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::after {
    transform: rotate(45deg) translate(0, 50%);
    bottom: 50%;
  }

  .header__info {
    display: flex;
    gap: 27px;
  }

  .header__row {
    max-height: 80px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    background: white;
    overflow: auto;
    left: 0;
    z-index: -1;
    transition: top 0.3s ease 0s;
  }

  .header__menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    height: 80px;
  }

  .header__menu._active {
    top: 0;
  }

  .menu__link {
    font-weight: 400;
    font-size: 25px;
  }
}

/***************************BREADCRUMBS******************/

.bredcrums {
  padding: 300px 0 214px 0;
}

.title {
  font-size: 55px;
  line-height: 110%;
}

.breatcrumbs__title {
  margin: 0 0 26px 0;
}

.breadcrumbs__menu {
  display: flex;
  gap: 42px;
}

.breadcrumbs__link {
  font-size: 17px;
  line-height: 140%;
  color: #000000;
  transition: 0.3s ease;
}

.link-glav:hover {
  color: #6e9c9f;
  text-shadow: 0 0 0.7px #6e9c9f, 0 0 0.7px #6e9c9f;
}

.breadcrumbs__link_active {
  color: #919191;
  position: relative;
}

.breadcrumbs__link_active::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 1.2px;
  background: #000000;
  left: -27px;
  top: 50%;
}

@media (max-width: 1068px) {
  .bredcrums {
    padding: 160px 0px 103px;
  }
}

@media (max-width: 528px) {
  .bredcrums {
    padding: 119px 0px 50px;
  }

  .title {
    font-size: 40px;
    line-height: 110%;
  }
}

/**************************PRODUCT**********************/

.product {
  padding: 0 0 130px 0;
}

.product__buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 0 0 92px 0;
}

.button__product {
  padding: 19px 65px;
  background: white;
  border: 1px solid #000000;
  font-size: 17px;
  line-height: 140%;
  transition: 0.3s ease;
}

.button__product._active-btn {
  background: #000000;
  color: #ffffff;
}

.button__product:hover {
  background: #000000;
  color: #ffffff;
}

.products__count {
  font-size: 17px;
  line-height: 140%;
  color: #808080;
  margin: 0 0 65px 0;
}

.products__item {
  display: block;
}

.roducts__row {
  display: flex;
  flex-wrap: wrap;
  gap: 65px 30px;
  margin: 0 0 65px 0;
}

.products__image {
  margin: 0 0 24px 0;
  position: relative;
  cursor: pointer;
}

.products__image::before {
  content: "";
  transition: 0.3s ease;
  background: url(img/product/arrow-shop.png) center no-repeat;
}

.products__image:hover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(110, 156, 159, 0.64) url(img/product/arrow-shop.png) center no-repeat;
}

.products__image img {
  max-width: 100%;
}

.products__item__name {
  text-align: center;
  margin: 0 0 7px 0;
}

.products__item__price {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  line-height: 140%;
  color: #998e78;
}

.product__item__price-old {
  text-decoration-line: line-through;
}

/**********товар не найден*********/

.products__error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.products__error__text {
  font-size: 50px;
}

/*Стили для пагинации*/

.paginator {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.paginator > span {
  cursor: pointer;
  display: block;
  font-size: 17px;
  line-height: 140%;
  padding: 8px 15px;
  border: 1px solid #000000;
}

.paginator > span._active {
  color: white;
  background: black;
  border: 1px solid #000000;
}

.products__burger {
  display: none;
}

@media (max-width: 1139px) {
  .roducts__row {
    justify-content: center;
  }
}

@media (max-width: 1068px) {
  .button__product {
    padding: 15px 42px;
  }
}

@media (max-width: 854px) {
  .product__container {
    position: relative;
  }

  .product__buttons {
    display: flex;
    flex-direction: column;
    max-width: 140px;
    position: absolute;
    visibility: hidden;
    overflow: auto;
    z-index: 5;
    height: 0;
    opacity: 1;
    transition: 0.3s ease;
  }

  .button__product {
    padding: 15px 30px;
  }

  .product__buttons._active-burger {
    opacity: 1;
    height: 500px;
    visibility: visible;
  }

  .products__burger {
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: -20px;
    border: 1px solid black;
    padding: 15px 40px 15px 20px;
    font-size: 15px;
  }

  .products__burger::before,
  .products__burger::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 23px;
    background: black;
  }

  .products__burger::after {
    right: 8px;
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
    transition: 0.3s ease;
  }

  .products__burger::before {
    right: 16px;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    transition: 0.3s ease;
  }

  .products__burger._active-burger::after {
    right: 8px;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
  }

  .products__burger._active-burger::before {
    right: 16px;
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }

  .product {
    padding: 0 0 13px 0;
  }
}

/**************************FOOTER************************/
.footer {
  padding: 103px 0;
  background: #f1eadc;
}

.footer__row__1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 0 0 30px 0;
}

.footer__item__logo {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.footer__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #000000;
  transition: 0.3s ease;
}

.footer__link:hover {
  color: #509498;
  text-shadow: 0 0 0.7px #6e9c9f, 0 0 0.7px #6e9c9f;
}

.footer__item__contact {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-end;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}

.footer__item__contact a {
  color: #000000;
  transition: 0.3s ease;
}

.footer__item__contact a:hover {
  color: #509498;
  text-shadow: 0 0 0.7px #6e9c9f, 0 0 0.7px #6e9c9f;
}

.footer__row__2 {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.footer__item__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
}

.footer__item__copyright > p {
  margin: 0 0 6px 0;
}

.shop__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #000000;
  transition: 0.3s ease;
}

.shop__link:hover {
  color: #509498;
  text-shadow: 0 0 0.7px #6e9c9f, 0 0 0.7px #6e9c9f;
}

.social__row {
  display: flex;
  gap: 12px;
  margin: 0 0 30px 0;
}

.icon-insta,
.icon-facebook,
.icon-tw {
  font-size: 26px;
  color: black;
  transition: 0.3s ease;
}

.icon-insta:hover,
.icon-facebook:hover,
.icon-tw:hover {
  color: #509498;
}

/**************************POPUP*************************/

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0 15px;
  top: 0;
  left: 0;
  background: rgba(110, 156, 159, 0.95);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.8s ease;
}

.popup._open {
  opacity: 1;
  visibility: visible;
}

.popup__info {
  padding: 70px;
  background: #ffffff;
  max-width: 491px;
  position: relative;
  transform: translate(0, -100%);
  opacity: 0;
  transition: 0.8s ease;
}

.popup__info._open {
  transform: translate(0, 0);
  opacity: 1;
}

.popup__info._form-out {
  transform: translate(0, 100%);
  opacity: 0;
}

.popup__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  margin: 0 0 35px 0;
  text-align: center;
}

.popup__form input {
  width: 100%;
  border-bottom: 1px solid #000000;
  padding: 0 0 16px 0;
  margin: 0 0 35px 0;
  position: relative;
}

.popup__form input._error {
  border-bottom: 2px solid #ff0000;
}

.popup__form input::placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}

.form-sumbit {
  padding: 22px 108px;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  color: white;
  background: #6e9c9f;
  transition: 0.3s ease;
}

.popupclose {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 32px;
  right: 20px;
}

.popupclose::after,
.popupclose::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 20px;
  height: 1px;
  background: black;
}

.popupclose::after {
  transform: rotate(45deg);
}

.popupclose::before {
  transform: rotate(-45deg);
}

.form-sumbit:hover {
  background: #509498;
}

/************FORM AND*************/

.form__succsesfull {
  padding: 70px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  position: fixed;
  transition: 0.8s ease;
  max-width: 610px;
  width: 100%;
}

.form__succsesfull._form-out {
  opacity: 1;
  transform: scale(0.97);
}

.succsesful__text {
  font-size: 25px;
  line-height: 140%;
  margin: 0 0 35px 0;
  text-align: center;
}

.button__close {
  padding: 22px 50px;
  color: #6e9c9f;
  background: transparent;
  border: 1px solid #6e9c9f;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  transition: 0.3s ease;
}

.button__close:hover {
  background: #6e9c9f;
  color: #ffffff;
}

@media (max-width: 949px) {
  .footer {
    padding: 54px 0 20px 0;
  }

  .footer__item__shop {
    display: none;
  }

  .footer__row__2 {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 785px) {
  .footer__row__1 {
    flex-direction: column;
    gap: 25px;
  }
}
@media (max-width: 483px) {
  .footer__item__navigation {
    display: none;
  }

  .footer {
    padding: 35px 0 15px 0;
  }

  .succsesful__text {
    margin: 0 0 35px 0;
  }

  .button__close {
    width: 100%;
  }

  .form__succsesfull {
    padding: 50px 25px;
  }
}

/***popup**/

@media (max-width: 517px) {
  .popup__info {
    padding: 40px;
  }

  .form-sumbit {
    padding: 22px 50px;
    font-size: 15px;
    width: 100%;
  }
}

@media (max-width: 350px) {
  .popup__info {
    padding: 40px;
  }

  .popup__form input::placeholder {
    font-size: 14px;
  }

  .popup__title {
    font-size: 20px;
    margin: 0 0 25px 0;
  }

  .form-sumbit {
    padding: 22px 50px;
    font-size: 13px;
    width: 100%;
    border-radius: 5px;
  }
}
